<%= form_for([@restaurant, @reservation]) do |f| %>

    <div class="control-group">
        <%= f.label :email %>
        <div class="controls">
            <%= f.email_field :email %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :request_time %>
        <div class="controls">
            <%= f.datetime_select :request_time %>
            <!--TODO - change this datepicker!-->
        </div>
    </div>

    <div class="control-group">
        <%= f.label :message%>
        <div class="controls">
            <%= f.text_field :message %>
        </div>
    </div>

    <div class="control-group">
        <%= f.submit :class => 'btn' %>
    </div>
<% end %>