<h1>Restaurants</h1>

<%= link_to 'New restaurant', new_restaurant_path %>
 
<table>
  <tr>
    <th> </th>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= image_tag restaurant.image.thumb.url if restaurant.image? %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>